body{
    background: linear-gradient(to top, rgb(39, 179, 39), rgb(28, 143, 143)); color: aliceblue;
}
.textoimagem{
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    color: blue;

     background-color: #e9da0e; 
    border: 7px solid #009c3b; 
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 6px 12px #000000; 
    width: 300px;

}

.neymarpupu, .weverton, .casemiro, .marquinhos{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 40px;
    font-weight: bold;
    
}.neymarpupu, .weverton, .casemiro, .marquinhos {
    background-color: #e9da0e; 
    border: 7px solid #009c3b; 
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 6px 12px #000000; 
    width: 1000px;

}
.jogadores{
    color: blue;
}
.jogos {
    
    font-size: 40px;
    color: blue;
    font-weight: bold;
    margin-top: 50px;
}
.jogo1 ,.jogo2 ,.jogo3 {
background-color: #e9da0e; 
    border: 7px solid #009c3b; 
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 6px 12px #000000; 
    width: 1000px;
}